
<link rel="stylesheet" href="~/css/loader.css" asp-append-version="true" />
<div id="loader" style="display: none; opacity:0.7">
    <div class="spinner loading"></div>
</div>
<!-- Add this in your view (e.g., in a shared layout or specific view) -->


