html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*Hover css main index page*/
.topnav {
    overflow: hidden;
    background-color: #f1f1f1;
}

    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        border-bottom: 3px solid transparent;
    }

        .topnav a:hover {
            border-bottom: 3px solid red;
        }

        .topnav a.active {
            border-bottom: 3px solid red;
        }

.button-container {
    display: inline-block;
}

.inline-button {
    display: inline-block;
    margin-right: 5px; /* Adjust spacing as needed */
}

.hover {
    transition: transform 0.1s, box-shadow 0.1s;
}

    .hover:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }