@model PMS_MVC.Models.DashboardData;
@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Notification" />
<!-- Main Page -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-4 mb-4">
            <div class="card text-center border-0 shadow-lg hover">
                <div class="card-body">
                    <h5 class="card-title">Categories</h5>
                    <p class="card-text">Manage total <strong><span class="text-danger">@Model.totalCategories</span></strong> categories.</p>
                    <a asp-controller="category" asp-action="list" class="btn btn-success text-white">Go to Categories</a>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-4 mb-4">
            <div class="card text-center border-0 shadow-lg hover">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <p class="card-text">Manage total <strong><span class="text-danger">@Model.totalProducts</span></strong> products.</p>
                    <a asp-controller="product" asp-action="list" class="btn btn-danger text-white">Go to Products</a>
                </div>
            </div>
        </div>
    </div>
</div>




<style>
    .hover {
        transition: transform 0.1s, box-shadow 0.1s;
    }

        .hover:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
</style>