@model PMS_MVC.Models.Category;

@{
    ViewData["Title"] = "Category Details";
}

<!-- Details of category -->
<div class="container shadow-lg rounded bg-white justify-content-center align-items-center mt-5 p-4">
    <div class="d-flex justify-content-start mb-3">
        <a asp-action="list" asp-controller="Category" class="btn shadow btn-outline-secondary border-info text-info px-3">
            < Back
        </a>
    </div>
    <div class="row mb-4">
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm border-0 h-100">
                <div class="card-body">
                    <h5 class="card-title text-primary">Name</h5>
                    <p class="card-text">@Model.Name</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm border-0 h-100">
                <div class="card-body">
                    <h5 class="card-title text-primary">Code</h5>
                    <p class="card-text">@Model.Code</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 mb-4">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title text-primary">Description</h5>
                    <p class="card-text text-justify">@Model.Description</p>
                </div>
            </div>
        </div>
    </div>
</div>
