<partial name="_Notification" />
@{
    ViewData["Title"] = "Category List";
}

<!-- Category List Search Props. -->
<div id="CategoryList" class="container mt-3">
    <div class="row">
        <div class="d-flex justify-content-start mb-2">
            <a asp-action="index" asp-controller="dashboard" class="btn shadow btn-outline-secondary border-info text-info px-3">
                < Back
            </a>
        </div>
        <h4 class="text-info">Category List</h4>
        <div class="col-md-6 mb-3">
            <div class="form-floating">
                <input class="form-control dark-mode2" type="text" placeholder="Category Name" aria-label="Search" id="searchCategoryTab" onkeyup="searchCategory()" maxlength="25">
                <label for="searchCategoryTab" class="ms-2">Search Name</label>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="form-floating">
                <input class="form-control dark-mode2" type="text" pattern="\d*" onKeyPress="if(this.value.length==5) return false;" placeholder="Category Code" aria-label="Search" onkeyup="searchCode()" id="searchCategoryCodeTab" maxlength="5" oninput="validateNumberInput(this)">
                <label for="searchCategoryCodeTab" class="ms-2">Search Code</label>
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <div class="form-floating">
                <input class="form-control dark-mode2" type="text" placeholder="Description" aria-label="Search" id="searchCategoryDescription" onkeyup="searchCategoryDescription()" maxlength="250">
                <label for="searchCategoryDescription" class="ms-2">Search Description</label>
            </div>
        </div>
        <div class="col-12 mb-3 d-flex justify-content-between">
            <button data-toggle="tooltip" data-placement="top" id="categoryListClear" title="Clear Search" class="btn btn-outline-danger">
                <i class="bi bi-backspace"></i>
            </button>
            <button data-toggle="tooltip" data-placement="top" title="Add" onclick="location.href='@Url.Action("get", "category", new { type = true })'" class="btn btn-success">
                <i class="bi bi-plus"></i>
            </button>
        </div>
    </div>

    <div id="categoryListdata" class="row">
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#categoryListdata').load("/category/CategoryListshared");
        $('[data-toggle="tooltip"]').tooltip();
    });

    $(document).on('click', '#categoryListClear', function () {
        $('#searchCategoryTab, #searchCategoryCodeTab, #searchCategoryDescription').val('');
        $('#categoryListdata').load("/category/CategoryListshared");
    });

</script>


<script>
    function validateNumberInput(input) {
        input.value = input.value.replace(/\D/g, '');
    }
</script>